
*, *::after{
  box-sizing: border-box;
}

html {

    background-image: url("pix/nebula.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

body {
  width: 85%;
  margin: 0 auto;
  background-color: black;
}

img{
  width: 50%;
  margin: auto;
  display: block;
}

a{
  color:yellow;
}

a:hover{
color:cyan;
}

#main{
  font-family: sans-serif;
}

p{
  color:white;
  border: 25px solid black;
}

h1{
  color:white;
  text-align: center;
}

h6{
  color:white;
}

.bottom {
  display:inline-block;
}
#quote{
  float: left;
  width: 49%
}

.bottom p{
  float: left;
  width: 49%
}
.bottom::after {
  content: "";
  clear: both;
  display: table;
}
footer{
font-size: 8px;
}
