html {
  background: src("pix/nebula.jpg"); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: black;
  width: 50%;
  margin: 0 auto;
}

a{
  color:yellow;
}

a:hover{
color:cyan;
}

#main{
  font-family: sans-serif;
}

p{
  color:white;
}

h1{
  color:white;
}

h6{
  color:white;
}

#disclamer{

}
